.section-about{
    background-color: $color-gray-lighs-1;
    padding: 25rem 0;
    margin-top: -30vh;
    margin-bottom: -30vh;
}

.section-features{
    padding:20rem 0;

    background-image: linear-gradient(
        to right bottom,
        #7ed56fc2, 
        #28b485c2), 
    url('../img/nat-4.jpg');
    background-size: cover;

    //clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    transform: skewY(-7deg);
    & > *{
        transform: skewY(7deg);
    }
}

.section-tours{
    background-color: $color-gray-lighs-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}

.section-stories{
    position: relative;
    padding: 10rem 0;
}

.section-book{
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}
//interesting thing
.book{
    background-image: linear-gradient(105deg, 
                                        rgba( $color-white, .9) 0%, 
                                        rgba( $color-white, .9) 50%, 
                                        transparent 50%) , 
                                    url('../../img/nat-10.jpg');
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: .15);
    
    height: 50rem;

    &__form{
        width: 50%;
        padding: 6rem;
    }
}